/* ************************ */
/* Overlay Side Menu        */
/* ************************ */
/* Begin of standard UT CSS Override */
/* Left Side Region has width of 240px */
/* Right Side Region has width of 200px */
@media only screen and (min-width: 641px) {
    :not(.u-RTL) .overlaySideMenu.apex-side-nav .t-Body-title {
        left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav .t-Body-title {
        right: 0;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav .t-Body-title {
        right: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav .t-Body-title {
        left: 0;
    }
}

@media only screen and (min-width: 641px) {
    :not(.u-RTL) .overlaySideMenu.apex-side-nav .t-Body-content {
        margin-left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav .t-Body-content {
        margin-right: 0;
    }
}

:not(.u-RTL) .overlaySideMenu.apex-side-nav .t-Body-main {
    margin-left: 0;
}

.u-RTL .overlaySideMenu.apex-side-nav .t-Body-main {
    margin-right: 0;
}

@media only screen and (min-width: 641px) {
     .t-Body-side {
        width: 240px;
    }
}

@media only screen and (min-width: 641px) {
    :not(.u-RTL) .overlaySideMenu.apex-side-nav .t-Body-side {
        left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav .t-Body-side {
        right: 0;
    }
}

:not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-main {
    margin-left: 0;
}

.u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-main {
    margin-right: 0;
}

:not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-main {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-main {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

@media only screen and (max-width: 480px) {
    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-title,
    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-side,
    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-content {
        margin-left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-title,
    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-side,
    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-content {
        margin-right: 0;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-main {
        margin-left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-main {
        margin-right: 0;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-main {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-main {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

@media only screen and (min-width: 993px) {
    .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-main {
        transform: none;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-main {
        margin-left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-main {
        margin-right: 0;
    }

    .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-title {
        transform: none !important;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-title {
        margin-left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-title {
        margin-right: 0;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-content {
        margin-left: 240px;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-content {
        margin-right: 240px;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-content,
    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-content {
        transform: none;
    }
}

@media only screen and (min-width: 641px) {
    .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-title,
    .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-content,
    .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-main {
        transform: none;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-title {
        left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-title {
        right: 0;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-title {
        right: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-title {
        left: 0;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-content {
        margin-left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-content {
        margin-right: 0;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-main {
        margin-left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-main {
        margin-right: 0;
    }

    .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-side {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded .t-Body-side {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-main {
        transform: none;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-main {
        margin-left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-main {
        margin-right: 0;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-side {
        left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-side {
        right: 0;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-content {
        margin-left: 240px;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-content {
        margin-right: 240px;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-content {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-content {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-title {
        left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-title {
        right: 0;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-title {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-title {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-nav,
.overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-nav .t-TreeNav {
    width: 0;
}

:not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-content,
:not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-title,
:not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-side {
    margin-left: 0;
}

.u-RTL .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-content,
.u-RTL .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-title,
.u-RTL .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-side {
    margin-right: 0;
}

@media only screen and (max-width: 480px) {
    .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-nav {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-nav {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-title,
    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-side,
    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-content {
        margin-left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-title,
    .u-RTL .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-side,
    .u-RTL .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-content {
        margin-right: 0;
    }
}

@media only screen and (max-width: 640px) {
    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navCollapsed.t-PageBody.js-rightExpanded .t-Body-main {
        margin-left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navCollapsed.t-PageBody.js-rightExpanded .t-Body-main {
        margin-right: 0;
    }
}

@media only screen and (min-width: 641px) {
    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-title {
        margin-left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-title {
        margin-right: 0;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-title {
        left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-title {
        right: 0;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navCollapsed.t-PageBody--showLeft .t-Body-side {
        margin-left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navCollapsed.t-PageBody--showLeft .t-Body-side {
        margin-right: 0;
    }

    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navCollapsed.t-PageBody--showLeft .t-Body-content {
        margin-left: 240px;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navCollapsed.t-PageBody--showLeft .t-Body-content {
        margin-right: 240px;
    }
}

@media only screen and (min-width: 993px) {
    :not(.u-RTL) .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-side {
        left: 0;
    }

    .u-RTL .overlaySideMenu.apex-side-nav.js-navCollapsed .t-Body-side {
        right: 0;
    }
}

.overlaySideMenu.t-PageBody.js-rightExpanded .t-Body-main {
    margin-right: 0;
}

:not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightExpanded .t-Body-main,
:not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightExpanded .t-Body-nav {
    -webkit-transform: translate3d(-200px, 0, 0);
    -ms-transform: translate(-200px);
    transform: translate3d(-200px, 0, 0);
}

.u-RTL .overlaySideMenu.t-PageBody.js-rightExpanded .t-Body-main,
.u-RTL .overlaySideMenu.t-PageBody.js-rightExpanded .t-Body-nav {
    -webkit-transform: translate3d(200px, 0, 0);
    -ms-transform: translate(200px);
    transform: translate3d(200px, 0, 0);
}

@media only screen and (min-width: 641px) {
    .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--hideLeft .t-Body-main,
    .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--hideLeft .t-Body-nav {
        transform: none;
    }

    :not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--hideLeft .t-Body-main {
        margin-right: 200px;
    }

    .u-RTL .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--hideLeft .t-Body-main {
        margin-left: 200px;
    }

    :not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--hideLeft .t-Body-title {
        right: 200px;
    }

    .u-RTL .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--hideLeft .t-Body-title {
        left: 200px;
    }

    :not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-title {
        right: 0;
    }

    .u-RTL .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-title {
        left: 0;
    }

    :not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightExpanded.js-navCollapsed.t-PageBody--showLeft .t-Body-side {
        margin-left: 0;
    }

    .u-RTL .overlaySideMenu.t-PageBody.js-rightExpanded.js-navCollapsed.t-PageBody--showLeft .t-Body-side {
        margin-right: 0;
    }

    :not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightExpanded.js-navCollapsed.t-PageBody--showLeft .t-Body-side {
        left: 0;
    }

    .u-RTL .overlaySideMenu.t-PageBody.js-rightExpanded.js-navCollapsed.t-PageBody--showLeft .t-Body-side {
        right: 0;
    }
}

@media only screen and (min-width: 993px) {
    :not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightExpanded.js-navCollapsed.t-PageBody--showLeft .t-Body-side {
        left: 0;
    }

    :not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-main {
        margin-right: 200px;
    }

    .u-RTL .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-main {
        margin-left: 200px;
    }

    .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-main,
    .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-nav {
        transform: none;
    }

    :not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-title {
        right: 200px;
    }

    .u-RTL .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-title {
        left: 200px;
    }

    :not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightExpanded.js-navCollapsed.t-PageBody--showLeft .t-Body-side {
        left: 0;
    }

    .u-RTL .overlaySideMenu.t-PageBody.js-rightExpanded.js-navCollapsed.t-PageBody--showLeft .t-Body-side {
        right: 0;
    }
}

@media only screen and (max-width: 992px) {
    .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-main {
        transform: none;
    }

    :not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-title,
    :not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-side,
    :not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-content {
        -webkit-transform: translate3d(-200px, 0, 0);
        -ms-transform: translate(-200px);
        transform: translate3d(-200px, 0, 0);
    }

    .u-RTL .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-title,
    .u-RTL .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-side,
    .u-RTL .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-content {
        -webkit-transform: translate3d(200px, 0, 0);
        -ms-transform: translate(200px);
        transform: translate3d(200px, 0, 0);
    }

    .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-side {
        margin-left: 0 !important;
    }

    .u-RTL .overlaySideMenu.t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-side {
        margin-left: 0px !important;
        right: 0 !important;
    }
}

.overlaySideMenu.t-PageBody.js-rightCollapsed .t-Body-main {
    margin-right: 0px;
}

.overlaySideMenu.t-PageBody.js-rightCollapsed .t-Body-title {
    right: 0px;
}

:not(.u-RTL) .overlaySideMenu.t-PageBody.js-rightCollapsed .t-Body-actions {
    -webkit-transform: translate3d(200px, 0, 0);
    -ms-transform: translate(200px);
    transform: translate3d(200px, 0, 0);
}

.u-RTL .overlaySideMenu.t-PageBody.js-rightCollapsed .t-Body-actions {
    -webkit-transform: translate3d(-200px, 0, 0);
    -ms-transform: translate(-200px);
    transform: translate3d(-200px, 0, 0);
}

@media only screen and (min-width: 641px) {
    :not(.u-RTL) .overlaySideMenu.t-PageBody--showLeft .t-Body-content {
        margin-left: 240px;
    }

    .u-RTL .overlaySideMenu.t-PageBody--showLeft .t-Body-content {
        margin-right: 240px;
    }
}
/* End of standard UT CSS Override */

/* Position the side menu on top of everything else */
.overlaySideMenu.apex-side-nav .t-Body-nav{
    z-index: 1000;
}

/* Side menu width */
.overlaySideMenu .t-Body-nav {
    width: 200px;
}

/* Option to have a fullscreen side menu */
.overlaySideMenu.overlaySideMenu--fullscreen .t-Body-nav {
    width: 100vw;
}
